#outlined-multiline-flexible {
    width: 75vh; /* Sử dụng đơn vị phần trăm để làm cho nó responsive */
    max-width: 500px; /* Đặt chiều rộng tối đa nếu màn hình lớn hơn */
    height: 50px;
  }
  
  .modal-content {
    width: 90vw; /* Sử dụng đơn vị viewport width để làm cho nó responsive */
    max-width: 800px; /* Đặt chiều rộng tối đa nếu màn hình lớn hơn */
    height: 90%;
  }
  .short-title {
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
  }
  .title-form {
    display: flex;
    flex-wrap: wrap; /* Cho phép các thành phần chồng lên nhau khi không có đủ không gian */
    justify-content: space-between;
    margin-bottom: 3vh;
  }
  
.uploadfile-btn {
    margin-top: 3vh;
    margin-bottom: 4vh;
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
};
