#outlined-multiline-flexible {
  width: 50vw;
  max-width: 500px; /* Tăng kích thước tối đa cho input */
  height: 50%;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  width: 90vw; /* Sử dụng 90% chiều rộng viewport */
  max-width: 800px; /* Tăng kích thước tối đa */
  height: 90%;
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    width: 100%;
    max-width: none;
  }

  @media only screen and (min-width: 601px) and (max-width: 768px) {
    width: 100%;
  }
}

.short-title {
  margin-bottom: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.title-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.uploadfile-btn {
  margin-top: 3vh;
  margin-bottom: 4vh;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
}
#filled-select-currency{
  width: 15vh;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;

}
.form-text-data {
  width: 100%;
  max-width: 770px;
}

@media only screen and (max-width: 200px) {
  .form-text-data {
    width: 100%;
    max-width: none;
  }
}